:root{
    --cblack: #FFF;      /*se interschimba la night mode*/
    --cwhite: #22343D;           /*se interschimba la night mode*/
    --cgreen: #02897A;
    --cblue:#4D8DFF;
    --cpurple: #740A76;
    --cred: #F03E3D;
}


*{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    
}

body{
    margin-left: 146px;
    margin-right: 146px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
        /* border: 11px solid gold;*/
   /* width: 100%;*/
   color: var(--cblack);
   background-color: var(--cwhite);
}

/*navigation bar*/
nav{
        display: flex;
            /* border: 1px solid red;*/
        height: 80px; 
        position: fixed;
        z-index: 1;
        /*margin-right:146px;*/
        margin: 0;
       /*width: 100%;*/
       background-color: var(--cwhite);
    }

    .nav1{
            display:flex;
            margin-top:19px;
            margin-bottom:25px;
        }

    .nav1 img{
            width:40px;
            height: 37px;
    }   

    .nav1 a{
            font-size:30px;
            font-weight: 700;
            color: var(--cblack);
            margin-top: 0;
            margin-left: 16px;
            text-decoration: none;
            
    }
    
    nav a{text-decoration: none;  }

    .navigation{
            display: flex;
            /*margin-left: auto; /* pentru a muta textul in partea dreapta; merge fara position fixed la element parinte*/
               /* border: 1px solid black;*/
            margin-left: 237px;
            margin-bottom: 25px;
            margin-top: 27px;
            padding:0;
            
    }

    nav button{
       width:102px;
       height: 43px;
       margin-top: 19px; 
       border-radius: 4px;
    }

    nav .btn1
    {
            border: 1px solid var(--cblue);
            background-color: var(--cwhite);
    }

    nav .btn2{
            background-color: var(--cgreen);
            color: var(--cwhite);
            border: 1px solid var(--cgreen);
    }

    .nav2{
        display: flex;
        visibility: hidden; /*navbar hidden pentru telefon*/
        
    }

    .nav2 img{
        width: 24px;
        height: 24px;
        margin-top: 28px;
    }

    .nav3 /*meniul din dreapta*/
    {
        position: relative;
        left:100px;
        visibility: visible;
        margin-top: 19px;
       
    }

    .nav3 span{  /*meniul din dreapta*/
        display: block;
        border-bottom: 5px solid var(--cblack);
        margin-top:5px;
        width:28px;
    }

/*sectiunea 1*/
    .section1{
        position:relative;  
        top: 100px;         
        display: flex;
        flex-direction: column; /* pentru mobil*/

    }

    .section1 .right .lap{
        display: flex;
        width: 541px;
        height: 426px;
        flex-shrink: 1;  /*nu functioneaza*/
    }

    .section1 .right .mob{
        position:relative;
        top: -326px;
    }

    .section1 .lap{
        visibility: hidden;
    }

    .section1 .mob{
        visibility: visible;
    }

    .section1 input{
        width: 346px;/*pentru telefon*/
        height: 66px;
        border-radius: 100px;
        padding-left: 50px;
        border-color: #ddd;
    }
   
    .section1 button{
        width: 120px;
        height: 50px;
        background-color: var(--cgreen);
        border-color: var(--cgreen);
        border-radius: 100px;
        color: var(--cwhite);
        position: relative;
        left: 216px;  /*pentru mobil*/
        top: -57px;
    }

    .section1 .ml1{ /* move to left */
        position: relative;
        left: -32px;
    }

    .section1 .ml2{ /* move to left */
        position: relative;
        left: -62px;
    }

    .section1 .ml3{ /* move to left */
        position: relative;
        left: -62px;
        top: -25px;
    }

    .section1 span{
        color: var(--cgreen);
    }


 /*sectiunea 2*/   
    .section2{
        margin-bottom: 100px;
    }

    .section2 .center{
        text-align: center;
    }

    .section2 .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .section2 .mb{
        margin-bottom: 50px;
    }

    .section2 .linie{
        display: flex;
    }

    .section2 .linie img{
        width: 20px;
        height: 20px;
    }

    .section2 .linie p{
        position: relative;
        top: -20px;
        margin-right: 5px;
    }

    .section2 .row img{
        width: 100%;
    }


/*sectiunea 3*/
    .section3{
        text-align: center;
    }

    .section3 .mb{
        margin-bottom: 50px;
    }   
    
    .section3 .im img{
        width: 100%;
        height: 100%;
    }

/*sectiunea 4*/
    .section4 {
        text-align: center;
    }

    .section4 form
    {
        border: 1px solid #e8e8e8;
        border-radius: 20px;
        /*padding: 50px; /*mobil*/
       /* flex-shrink: 1;
        align-self: stretch;*/
        width: 100%; 
    }

    .section4 .chenar{
        border-radius: 20px;
        border: 1px solid #e8e8e8;
        width: 344px;/*mobil*/
        height: 16px;
        padding: 20px;
        
    }

    .section4 .chenar2{
        border-radius: 20px;
        border: 1px solid #e8e8e8;
        width: 344px;/*mobil*/
        height: 147px;
        padding: 23px 20px;
        overflow: stretch;
    }

    /*.section4 .chenar2 ::placeholder {
        text-align: center;
    }*/

    .section4 .button{
        border: 1px solid var(--cgreen);
        background-color: var(--cgreen);
        color: var(--cwhite);
        border-radius: 20px;
        padding: 18px 38px;
        width: 145px;
        height: 52px;
        display:flex;
        align-self: flex-start;
        
      

    }

 /*footer*/   
    footer{
        padding-left: 10px;
        margin-top: 100px;
    }

    footer .center{
        text-align: center;
    }

    footer .linie{
        text-align: center;
        display: flex;
        flex-direction: column; /*pentru telefon*/
    }

    footer .diva img{
        height:  30px;
    }

    footer .diva span{
        font-size:25px;
        font-weight: 700;
        color: var(--cblack);
        margin-top: 0;
        margin-left: 10px;
    }

    footer .divb{
        display: flex;
        justify-content: space-between; /*nu vrea*/
    }

    footer .divb img{
        background-image: url(landingPage_image/fot4.png);
        background-repeat: no-repeat;
        background-position: center;
        
    }    

   footer ul li{
        font-weight: normal;
        list-style: none;
   }

   footer  input{
        width: 325px;
        height: 48px;
        border: 1px solid var(--cblue);
   }

   footer button{
        border-radius: 4px;
        background-color: var(--cgreen);
        border: 1px solid var(--cgreen);
        color: var(--cwhite);
        width: 131px;
        height: 39px;
   }


.bold{
        font-weight: bold;
    }

.green{
        color: var(--cgreen);
    }    

.white{
        color: var(--cwhite);
}

.big{
        font-size: 76px;
        font-weight: 700;
}

.grey{
    color: #ccc;
}

.marginright{
    margin-right: 25px;
    color: var(--cblack);
}


    @media (min-width:700px) {
        .nav2{
            visibility: visible; /*navbar hidden pentru telefon*/
        }
        .nav3{
            visibility: hidden; /*nav3 hidden pentru latop*/
        }

/*section 1*/
       .section1
       {
            flex-direction: row;
       }

        .section1 .lap{
            visibility: visible; /* visible pentru latop*/
        }

        .section1 .mob{
            visibility: hidden; /* hidden pentru latop*/
        }

        .section1 input{
            width: 470px; /*pentru laptop*/
        }

        .section1 button{
            left: 340px;
           
        }

 /*sectiunea2*/       
    .section2 .mb{
            width: 30%;
    }

    .section2 .linie{
        position: relative;
        left: 450px;
    }

  /*sectiunea 5*/
    .section4 .chenar{
        width: 728px;
    }      

    .section4 .chenar2{
        width: 728px;
    }      

    .section4 form
    {
        padding: 50px; /*lap*/
    }

    .section4 .button{
        position: relative;
        left: 110px;
       
    }


/*footer*/
        footer .linie{
            text-align: left;
            flex-direction: row; /*pentru laptop*/
            justify-content: space-between;
        }
}